/*@import "tailwindcss";*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html, body{
    height: 100%;
    width: 100%;
    background: #F4F7F6;
    position: relative;
    font-family: Inter, sans-serif;
}
main {
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 550px;
    width: 350px;
    /*border: 1px solid black;*/
    border-radius: 5px;
    background: #ffffff;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
    form{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        /*border: 1px solid black;*/
        div.input-labels{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            /*border: 1px solid black;*/
            width: 90%;
            height: 75%;
            input{
                margin: 10px 0;
                width: 100%;
                height: 40px;
                text-indent: 10px;
                font-size: large;
                border: none;
                border-bottom: 1px solid black;
            }
            input:focus{
                outline: none;
                border-color: green;
            }
            button{
                margin-top: 10px;
                width: 100%;
                height: 40px;
                border: none;
            }
            button#login{
                background-color: #0056B3;
                color: white;
            }
            button#register{
                background-color: #28A745;
                color: white;
            }
        }
        p{
            margin-top: 10px;
        }
    }
}
